<% layout('./layouts/boilerplate') %>
<h1>Edit plan</h1>
<form action="/plans/<%=plan._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="plan[title]" value="<%=plan.title %>" />
    </div>
    <button>Update plan</button>
</form>
<a href="/plans/<%=plan._id%>">Back To Plan</a>
