<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Plan</title>
    </head>

    <body>
        <form action="/plans" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="plan[title]" required />
            </div>
            <button>Add plan</button>
        </form>
        <a href="/plans">All plans</a>
    </body>
</html>
