<% layout('./layouts/boilerplate') %>
<h1>Wollvome to <%= plan.title %></h1>
<div><a href="/plans/<%= plan._id %>/edit">Edit plan</a></div>
<form action="/plans/<%= plan._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<footer><a href="/plans">All plans</a></footer>
